@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-family: "Merriweather", serif;
}

.app {
  height: 502px;
  width: 727px;
  background-color: #ffffff;
  margin: 200px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.heading {
  padding-top: 61px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.logo {
  padding-left: 22px;
  width: 35px;
  height: 10px;
  font-size: 10px;
  font-weight: 1200s;
}

.nav ul,
li {
  list-style: none;
  display: inline-block;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #151b32;
  padding: 0 5px;
}
.input {
  width: 189px;
  height: 35px;
  border: 1px solid #bfc8e6;
  border-radius: 4px;
  padding: 0 0 0 30px;
}
i {
  position: relative;
  font-weight: 50;
  left: -185px;
}

.nav button {
  background-color: #849fff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bfc8e6;
}
.content {
}
.content-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.content-item img {
  width: 58px;
  height: 62px;
}
.content-item h2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 20px;
  color: #151b32;
}
.content-item h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}
.btn-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  padding-top: 15px;
}
.content-p {
  padding-left: 70px;
  margin-top: -50px;
}
.btn-content-sub {
  border-radius: 15px;
  padding: 3px 10px;
  border: 1px solid #bfc8e6;
  background-color: #ffffff;
  color: #516fd4;
  margin: 0 3px;
}
